BR2_arm=y
BR2_cortex_a9=y
BR2_ARM_ENABLE_VFP=y
BR2_ARM_FPU_VFPV3=y
BR2_KERNEL_HEADERS_3_14=y
BR2_TARGET_GENERIC_GETTY_PORT="ttymxc1"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/UDOOboard/linux_kernel.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="ccfb6a7b89ed3df0f2fc12a034f303ebb6cd012e"
BR2_LINUX_KERNEL_PATCH="board/udoo_neo/patches/linux/"
BR2_LINUX_KERNEL_DEFCONFIG="udoo_neo"
BR2_LINUX_KERNEL_ZIMAGE=y
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/UDOOboard/uboot-imx.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="d9463fb06a59bb874ee88724c177405419557d6f"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="udoo_neo"
BR2_TARGET_UBOOT_FORMAT_IMG=y
BR2_TARGET_UBOOT_SPL=y
BR2_TARGET_UBOOT_SPL_NAME="SPL"
